@import "normalize.css";
    body, div, span {
      box-sizing: border-box;
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex-shrink: 0;
      align-content: flex-start;

      border: 0 solid black;
      margin: 0;
      padding: 0;
    }
    html, body {
        width: 100%;
        height: 100%;
    }
    body {
      background-color: #1F1E34;
      color: #FFF;
      font-family: "Avenir Next",
          "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
          Arial, "Lucida Grande", sans-serif;
      font-weight: 100;
    }

    h1 {
      font-size: 64px;
      font-weight: 100;
    }

    h2 {
      font-size: 48px;
      font-weight: 100;
    }

    p {
      font-size: 24px;
    }

    a {
      font-weight: 400;
      color: #FFF;
    }

    a:hover {
      font-weight: 400;
      color: #DADADA;
      text-decoration: none;
    }
    .section {
      border-bottom: 2px solid #FFF;
      height: 100%;
      width: 100%;
      align-items:center;
      justify-content:center;
    }
    .section h1{
      font-size: 64px;
      font-weight: 100;
    }
    .row{
      flex-direction:row;
    }
    .column{
      flex-direction:column;
    }
    .nav a{
      padding:0 10px;
    }
    .iphone-demo {
      background-color: rgba(255,0,0,0.3);
    }

    .feature-description {
      background-color: rgba(0,255,0,0.3);
    }
    .iphone-demo ,.feature-description{
      align-self:stretch;
      justify-content:center;
      flex:1 0 0;
    }
